
/* ===================================================================
 * # page and section
 *
 *
 * ------------------------------------------------------------------- */
 .page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	position: relative;
}
section {
	padding-top: var(--vspace-5);
	padding-bottom: calc(2 *var(--vspace-5));
}

section.about h2{
	color:var(--color-white);
}
section.about p {
    color:var(--color-gray-13);
}

 
/* ===================================================================
 * # project
 *
 *
 * ------------------------------------------------------------------- */
.project{
	color: #eee;
	margin-bottom: var(--vspace-1);
	font-family: var(--font-3);
}

.project li{
margin-right: 1rem;
display: inline-block;
}

.project li::after{
	content: '|';
	padding-left: 1rem;
}

.project li:last-child::after(){
	content:none;
}

.desktop{
	display: block;
}

.mobile{
	display: none;
}

@media screen and (max-width: 768px) {


.desktop{
	display: none;
}
.mobile{
	display: block;
}

}


/* ===================================================================
 * # section-header
 *
 *
 * ------------------------------------------------------------------- */

 .section-header {
    padding-top   : var(--vspace-2_5);
    margin-bottom : var(--vspace-1_75);
    position      : relative;
	font-size: large;
}

.text-pretitle {
	font-family: var(--font-2);
	font-weight: 400;
	font-size: var(--text-sm);
	text-transform: uppercase;
	letter-spacing: 0px;
	color: var(--color-1);
}

.section-header__pretitle{
    z-index  : 1;
    position : absolute;
	top:0;
}

.section-header__pretitle {
    margin-bottom : var(--vspace-1_5);
}

.section-header::before {
    content        : attr(data-num);
    font-family    : var(--font-3);
    font-weight    : 600;
    font-size      : 8em;
    letter-spacing : -0.03em;
    line-height    : 1;
    color          : rgba(255, 255, 255, 0.3);
    position       : absolute;
    top            : 0;
    left           : var(--gutter);
}


/* ===================================================================
 * # haeder
 *
 *
 * ------------------------------------------------------------------- */
.header-wrap {
	width: 100%;
	max-width: 1400px;
	padding: 0 20px;
	margin: auto;
	position: relative;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	z-index: 5;
}

header h1 {
	position: relative;
	height: 40px;
	margin: 0;
	float: left;
	z-index: 5;
}

header h1 img {
	display: block;
	position: relative;
	top: 10px;
}

a {
	text-decoration: none;
}

.main-navigation {
	float: right;
}

.main-navigation a,.s-intro__notify {
	margin-left: 20px;
}

.main-navigation a.active {
	font-weight: bold;
	border-bottom: 2px solid var(--color-2);
}
.s-intro__notify {
    --color-btn-stroke       : rgba(255, 255, 255, .15);
    --color-btn-stroke-hover : rgba(0, 0, 0, .25);
    --color-btn-stroke-text  : white;
	display: inline-block;
}

button.btn--stroke {
	font-size: var(--base-font-size);
    margin : 0;
	padding: 14px 14px;
	border-color: var(--color-btn-stroke);
	background-color:  transparent;
	color: #fff;


}

button.btn--stroke:focus,
button.btn--stroke:hover {
/*     border : 1px solid rgba(0, 0, 0, .25); */
	color:  var(--color-1);
	cursor: pointer;
}

.text-wrap {
	width: 520px;
	height: 100vh;
	padding: 240px 20px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 4;
}

.text-wrap h2 {
	color: #fff;
	font-size: 64px;
	line-height: 1.25;
	/* font-weight: lighter;
	margin-bottom: 40px; */
}

.text-wrap h3 {
	color: #fff;
	font-size: 24px;
	line-height: 1.25;
	margin-bottom: 20px;
}

.text-wrap p {
	color: var(--color-gray-13);
	margin-bottom: var(--vspace-1);
}

.more-btn {
	display: none;

}



@media screen and (max-width: 768px) {
	header {
		padding: 0;
		height: 56px;
	}

	header h1 {
		height: 40px;
	}

	header h1 img {
		height: 24px;
		top: 20px;
	}

	.more-btn {
		display: block;
		position: absolute;
		right: 12px;
		top: 10px;
		width: 40px;
		height: 40px;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	.more-btn .icon {
		display: block;
		width: 24px;
		height: 24px;
		background: url(../assets/icon-menu.svg)no-repeat center;
		background-size: contain;
	}

	.more-btn.active .icon {
		/* 모바일활성 .active 꼭 붙여쓰기 */
		background: url(../assets/icon-close.svg)no-repeat center;
	}

	.main-navigation {		
		position: fixed;/* 배경스크롤방지 */
		top: 0;
		right: 0;
		transform: translateX(100%);
		/* left: 0;이 맞지만 애니메이션 적용 */
		padding: 80px 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(000, 000, 000, 0.5);
		opacity: 0;
		display: hidden;
	}

	.main-navigation.active {
		/* 모바일활성 .active 꼭 붙여쓰기 */
		display: block;
		opacity: 1;
		transform: translateX(0);
		transition: 0.3s;

	}

	.main-navigation a {
		display: block;
		padding: 1.2rem 0;
	}
}


/* ===================================================================
 * # INTRO
 *
 *
 * ------------------------------------------------------------------- */
 .s-intro {
    --header-height     : 8.8rem;
    --logo-width        : 78px;
    --text-display-size : 11.2rem;
    --text-multiplier   : 1;
    z-index             : 3;
    background-color    : var(--color-background);
    width               : 100%;
    height              : 100vh;
    min-height          : calc(25.5 * var(--space));
    box-shadow          : 0 0.8px 0.8px rgba(0, 0, 0, 0.031), 
                          0 1.9px 1.9px rgba(0, 0, 0, 0.044), 
                          0 3.9px 3.9px rgba(0, 0, 0, 0.056), 
                          0 8px 8px rgba(0, 0, 0, 0.069), 
                          0 22px 22px rgba(0, 0, 0, 0.1);
    overflow            : hidden;
    position            : relative;
}

.theme-particles .s-intro {
    background-color : #0d0e0c;
}

.theme-particles .s-intro .s-intro__content {
    pointer-events : none;
}

.theme-particles .s-intro .s-intro-content__bottom {
    pointer-events : auto;
}

/* --------------------------------------------------------------------
 * ## intro background
 * -------------------------------------------------------------------- */
.s-intro__bg {
    display             : block;
    position            : absolute;
    top                 : 0;
    left                : 0;
    right               : 0;
    bottom              : 0;
    width               : 100%;
    height              : 100%;
    background-image    : url(../images/bg-static.jpg);
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : cover;
}

.s-intro__bg::before {
    display        : block;
    content        : "";
    position       : absolute;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
    width          : 100%;
    height         : 100%;
    background     : black;
    pointer-events : none;
    opacity        : .2;
}

.s-intro__bg::after {
    display        : block;
    content        : "";
    position       : absolute;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
    width          : 100%;
    height         : 100%;
    background     : linear-gradient(90deg, black 10%, rgba(0, 0, 0, 0) 100%);
    pointer-events : none;
    opacity        : .45;
}

/* --------------------------------------------------------------------
 * ## intro slider
 * -------------------------------------------------------------------- */
.s-intro__slider {
    display  : block;
    position : absolute;
    top      : 0;
    left     : 0;
    right    : 0;
    bottom   : 0;
    width    : 100%;
    height   : 100%;
}

.s-intro__slide {
    background-repeat   : no-repeat;
    background-position : 50% 50%;
    background-size     : cover;
    position            : relative;
}

.s-intro__slide::before {
    display        : block;
    content        : "";
    position       : absolute;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
    width          : 100%;
    height         : 100%;
    background     : black;
    pointer-events : none;
    opacity        : .2;
}

.s-intro__slide::after {
    display        : block;
    content        : "";
    position       : absolute;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
    width          : 100%;
    height         : 100%;
    background     : linear-gradient(90deg, black 10%, rgba(0, 0, 0, 0) 100%);
    pointer-events : none;
    opacity        : .4;
}

.s-intro__slide.bg-opacity-10::before {
    opacity : .1;
}

.s-intro__slide.bg-opacity-20::before {
    opacity : .2;
}

.s-intro__slide.bg-opacity-30::before {
    opacity : .3;
}

.s-intro__slide.bg-opacity-40::before {
    opacity : .4;
}

.s-intro__slide.bg-opacity-50::before {
    opacity : .5;
}

.s-intro__slide.bg-opacity-60::before {
    opacity : .6;
}

.s-intro__slide.bg-opacity-70::before {
    opacity : .7;
}

.s-intro__slide.bg-opacity-80::before {
    opacity : .8;
}

.s-intro__slide.bg-opacity-90::before {
    opacity : .9;
}



/* --------------------------------------------------------------------
 * ## intro content
 * -------------------------------------------------------------------- */
.s-intro__content {
    z-index        : 2;
    align-items    : flex-start;
    max-width      : var(--width-wider);
    height         : 100vh;
    padding-top    : 20vh;
    padding-bottom : 15rem;
    position       : relative;
}

.s-intro__content .text-pretitle,
.s-intro__content .text-huge-title {
    color : white;
}

.s-intro__content .text-pretitle::before {
    background-color : white;
}
.s-intro__content h1{
	margin: var(--vspace-1);
	font-size: 6rem;
}

.s-intro__content .colorfont h1:nth-child(1){
	color: rgba(148, 156, 255, .4);
}
.s-intro__content .colorfont h1:nth-child(2){
	color: rgba(148, 156, 255, .6);
}
.s-intro__content .colorfont h1:nth-child(3){
	color: rgba(148, 156, 255, .8);
}
.s-intro__content .colorfont h1:nth-child(4){
	color: white;
}

@media screen and (max-width: 768px){
    .s-intro__content h1{
        font-size: 3rem;
		margin: 0;
		line-height: calc(3rem * 1.2);
		letter-spacing: -0.5px;
		word-spacing: -1px;
       }

	   	

}

/* ===================================================================
 * # introgr
 * ------------------------------------------------------------------- */

.introgr{
	padding: 0rem 2rem;
}

.introgr .row{
	padding: 0rem 2rem;
	width: 100%;
	height:400px;
	position: relative;
}

.introgr .card{
	text-align: left;
	background: linear-gradient(to bottom, rgba(93,102,206,1), rgba(28,28,36,1) 100%);
}

.introgrback{
	display: block;
	width: 70vw;
	height:inherit;
	background: linear-gradient(to bottom, rgba(93,102,206,1),  rgba(28,28,36,1) 100%);
	position: absolute;
	left: -10vw;
	z-index: -88;
}
.dicon {
	width: 16rem;
	}

.title {
	margin-top: 0%;
	font:var(--font-2)
}

@media screen and (max-width: 786px){
	.introgr .row{
		height: 600px;
		justify-items: center;
		background: linear-gradient(to bottom, rgba(93,102,206,1), rgba(28,28,36,1) 0%);
	}

	.introgr .card{
		justify-content: center;
		text-align: center;
		background: var(--color-background);
	}
	.introgrback{
		display: none;
		height: 600px;
	}

	.dicon {
		width: 8rem;
		}		
}

/* ===================================================================
 * # storyfir
 *
 *
 * ------------------------------------------------------------------- */
 .storyfir{
	padding-top: 0;
 } 

 .vwcolumn{
	height: 100%;
	padding-right: 0px;
	position: relative;
 }

 .vwcolumn img:nth-child(1){
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	z-index: 100;
}

.vwcolumn img:last-child{
	display: block;
	width: inherit;
	height: inherit;
	position: absolute;
	top:0px;
	right:-10vw;
 }

@media screen and (max-width: 786px){ 
	.storyfir{
	padding-top: var(--vspace-5);
	} 

	.vwcolumn{
		width: 80%;
		height: 80%;
		padding-right: 0px;
		position: relative;
	 }

	 .vwcolumn img:last-child{
		width: 60%;
		height: 100%;
		position: absolute;
		top:0px;
		right:-30vw;
	 }
}

/* ===================================================================
 * # storysec
 *
 *
 * ------------------------------------------------------------------- */	
 .storysec{
	background-color: #1C1C24;
}

.storysec h2{
	z-index: 66;
}
	.circle{
		display: block;
		background-image: url(../images/curcle.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 600px;
		height: 600px;
		position: absolute;
		right: 15vw;
		z-index: 2;
	}

	.circle_text{
		z-index: 3;
	}

	
@media screen and (max-width: 786px){ 
	.circle{
		width: 600px;
		height: 600px;
		position: absolute;
		right: -20vw;
		z-index: -1;

	}
}

/* ===================================================================
 * # storythi
 *
 *
 * ------------------------------------------------------------------- */
.storythi{
	background-color: #fff;
	position: relative;
	height:100%
}
.storythi .section-header::before{	
	color: #e0e0e0 !important;
}
.storythi h2{
	color: #000;
} 
.storythi .project{
	color: var(--color-gray-18);
}
.nonpadding{
	padding: 0px;
}
.storythi img{
	padding: 6rem 3rem;
	background-color: #eee;
	width: 110%;
	position: relative;
	right: -5vw;
}

@media screen and (max-width: 786px){ 
	p{
	padding-bottom: var(--vspace-1);
	}	
}

/* ===================================================================
 * # wid
 *
 *
 * ------------------------------------------------------------------- */
.wid{
	background-color: #eee;
	padding-bottom:var(--vspace-1);
}

.wid img{
	width: 52rem;
}

/* ===================================================================
 * # html:swiper
 *
 *
 * ------------------------------------------------------------------- */
 body,
      .body {
        position: relative;
        height: 100%;
		max-width: 100%;
      }

      .body 
	  {
        background: #eee;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
        height: 80%;		
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

     
      .swiper-wrapper .swiper-slide:nth-child(1) {
        width: 40%;
		background:url(../gif/project1.gif) center no-repeat;
		background-size: cover;
      }

      .swiper-wrapper .swiper-slide:nth-child(2) {
        width: 30%;
		background:url(../images/Project3.jpg) center no-repeat;

      }

      .swiper-wrapper .swiper-slide:nth-child(3) {
        width: 50%;
		background:url(../images/Project2.jpg) center no-repeat;
      }

	  
      .swiper-wrapper .swiper-slide:nth-child(4) {
        width: 30%;
		background:url(../images/Project4.jpg) center no-repeat;
      }
	  
      .swiper-wrapper .swiper-slide:nth-child(5) {
        width: 20%;
		background:url(../gif/han2mag.jpg) center no-repeat;
      }

	  @media screen and (max-width: 768px){
		.body {
			position: relative;
			height: 60%;
			max-width: 100%;
		  }
	  }


/* ===================================================================
 * # footer
 *
 *
 * ------------------------------------------------------------------- */
 .s-footer {
	padding-left: 330px;
	padding-right: 100px;
	max-width: 2140px;
	background-color: #eee;
  }

  .s-footer {
	padding-top: 4rem;
	padding-bottom: 8rem;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
  }
  
  .s-footer a {
	color: #000000;
  }
  
  .footer__copyright span {
	display: inline-block;
  }
  
  .footer__copyright span::after {
	content: "|";
	display: inline-block;
	padding: 0 1.2rem 0 1.4rem;
	color: rgba(0, 0, 0, 0.3);
  }
  
  .footer__copyright span:last-child::after {
	display: none;
  }

  @media screen and (max-width:1600px) {
	.s-footer {
	  /* padding-left: 320px; */
	}
  }
  
  @media screen and (max-width:1200px) {
	.s-footer {
	  /* padding-left: 290px; */
	  padding-right: 80px;
	}
  }
  
  @media screen and (max-width:1100px) {
	.s-content,
	.s-footer {
	  padding-right: 0;
	  padding-left: 0;
	}
}
  
 .tool ul li{
	margin-top: 2.5rem;
	display: inline-block;
	width: 40px;
 }

 .tool ul li img{
	width: 100%;
 }


 /* ------------------------------------------------------------------- 
 * ## go to top
 * ------------------------------------------------------------------- */
.go-top {
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate3d(0, 200%, 0);
	transform: translate3d(0, 200%, 0);
	transition: all 0.8s;
	position: fixed;
	bottom: 4rem;
	right: 2rem;
  }
  
  .go-top a,
  .go-top a:visited {
	text-decoration: none;
	border: none;
	display: block;
	height: 6rem;
	width: 6rem;
	line-height: 6rem;
	text-align: center;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.5);
	transition: all 0.3s;
	background-image: url(assets/icon-arrow-up.svg);
	background-color: #000000;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 7px 14px;
  }
  
  .go-top.link-is-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  
 
/* ------------------------------------------------------------------- 
 * ## animation stuff 
 * ------------------------------------------------------------------- */
.animate-this {
	opacity: 0;
	visibility: hidden;
  }
  
  .no-js .animate-this,
  .no-cssanimations .animate-this {
	opacity: 1;
	visibility: visible;
  }
  
  .animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
  }
  
  /* fade in */
  @-webkit-keyframes fadeInUp {
	from {
	  opacity: 0;
	  visibility: hidden;
	  -webkit-transform: translate3d(0, 150%, 0);
	  transform: translate3d(0, 150%, 0);
	}
  
	to {
	  opacity: 1;
	  visibility: visible;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  
  }
  
  @keyframes fadeInUp {
	from {
	  opacity: 0;
	  visibility: hidden;
	  -webkit-transform: translate3d(0, 150%, 0);
	  transform: translate3d(0, 150%, 0);
	}
  
	to {
	  opacity: 1;
	  visibility: visible;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}  
  }
