/* 
# basic/base setup styles
# NORMALIZE 
# BASE SETUP
# TYPOGRAPHY 
*/


/* ------------------------------------------------------------------- 
 * # basic/base setup styles
 * ------------------------------------------------------------------- */

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  }
@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,800&family=Roboto+Slab:wght@800;900&display=swap');
 

*{
  font-size  : var(--text-size);
  box-sizing : border-box;
  -ms-overflow-style: none;
}

*::before,*::after{
  box-sizing: inherit;
}

:root {
    --font-1    : 'Arita-buri-medium', serif;
    --font-2    : "Pretendard-Regular", sans-serif;
	  /* --font-2    : 'Roboto serif', serif; */
    --font-mono : Consolas, "Andale Mono", Courier, "Courier New", monospace; 
  
	  /* spacing
	   * vertical space unit : 32px
	   */
	  --base-size        : 62.5%;
	  --multiplier       : 1;
  
		/* vertical spacing 
	   */
	  --space            : calc(3.2rem * var(--multiplier));
  
	  --vspace-0_125     : calc(0.125 * var(--space));
	  --vspace-0_25      : calc(0.25 * var(--space));
	  --vspace-0_375     : calc(0.375 * var(--space));
	  --vspace-0_5       : calc(0.5 * var(--space));
	  --vspace-0_625     : calc(0.625 * var(--space));
	  --vspace-0_75      : calc(0.75 * var(--space));
	  --vspace-0_875     : calc(0.875 * var(--space));
	  --vspace-1         : calc(var(--space));
		 /* 32px */
	  --vspace-1_25      : calc(1.25 * var(--space));
	  --vspace-1_5       : calc(1.5 * var(--space));
	  --vspace-1_75      : calc(1.75 * var(--space));
	  --vspace-2         : calc(2 * var(--space));
	  --vspace-2_5       : calc(2.5 * var(--space));
	  --vspace-3         : calc(3 * var(--space));
	  --vspace-3_5       : calc(3.5 * var(--space));
	  --vspace-4         : calc(4 * var(--space));
	  --vspace-4_5       : calc(4.5 * var(--space));
	  --vspace-5         : calc(5 * var(--space));
	  /* 160px */
  
	  --vspace-btn       : var(--vspace-2);

    
/* ===================================================================
 * ------------------------------------------------------------------- 
 * type scale - ratio 1:125 | base: 16px
 * -------------------------------------------------------------------
 
 * --text-display-1 = (79px)

 * --text-xxxxl      = (40px) h1
 * --text-xxxl      = (32px) h2
 * --text-xxl       = (28px) h3
 * --text-xl        = (24px) h4
 * --text-lg        = (20px) h5
 * --text-md        = (16px) h6
 * --text-sm        = (15px)BASE
 * --text-xs        = (14px)
 *
 * -------------------------------------------------------------------- */

	  --base-font-size   : calc(1.6rem * var(--multiplier)); 
    --text-size        : var(--base-font-size);   
	  --text-scale-ratio : 1.2;


  
    --text-xs          : calc(var(--text-sm) / 1.062);
	  --text-sm          : calc(var(--text-md) / 1.062);
    --text-md: var(--base-font-size);
    --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-xxxxl: calc(var(--text-xxxl)  * var(--text-scale-ratio));
    --text-display-1: calc(var(--base-font-size) * 4.938);

    

	   /* widths for rows and containers
	   */
	   --width-full     : 100%;
	   --width-max      : 1180px;
	   --width-wide     : 1400px;
	   --width-wider    : 1600px;
	   --width-widest   : 1800px;
	   --width-narrow   : 1000px;
	   --width-narrower : 800px;
   
	   /* gutter
		*/
	   --gutter         : 2.2rem;

    --color-black: #000000;
    --color-gray-19: #161616;
    --color-gray-18: #2c2c2c;
    --color-gray-17: #424241;
    --color-gray-16: #585857;
    --color-gray-15: #6e6e6d;
    --color-gray-14: #848383;
    --color-gray-13: #9a9999;
    --color-gray-12: #b0afae;
    --color-gray-11: #c6c5c4;
    --color-gray-10: #dcdbda;
    --color-gray-9: #e0dfde;
    --color-gray-8: #e3e2e1;
    --color-gray-7: #e7e6e5;
    --color-gray-6: #eae9e9;
    --color-gray-5: #eeeded;
    --color-gray-4: #f1f1f0;
    --color-gray-3: #f5f4f4;
    --color-gray-2: #f8f8f8;
    --color-gray-1: #fcfbfb;
    --color-white: #ffffff;

    --content-padding-top    : 20vh;
    --content-padding-bottom : 9.6rem;

	 --color-1:#4D54A5;
	 --color-2:#598CE5;
	 --color-3:#FF3428;

    --color-body: white;
    --color-text: var(--color-gray-19);
    --color-text-dark: var(--color-black);
    --color-border: rgba(0, 0, 0, .08);
    --border-radius: 3px;
    --color-placeholder: var(--color-gray-14);
    --color-background: #1c1c24;
   }
   
   /* on medium screen devices
	*/
   @media screen and (max-width: 1200px) {
	   :root {
		   --gutter : 2rem;
       --multiplier       : 0.9;
	   }
   }
   
   /* on mobile devices	*/
   @media screen and (max-width: 600px) {
	   :root {
		   --gutter : 1rem;
       --multiplier       : 0.9;
	   }
  }


/* ====================================================================
 * # NORMALIZE
 *
 *
 * --------------------------------------------------------------------
 * normalize.css v8.0.1 | MIT License |
 * github.com/necolas/normalize.css
 * -------------------------------------------------------------------- */


/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display : none;
}

/* ===================================================================
 * # BASE SETUP
 *
 *
 * ------------------------------------------------------------------- */
 
/* ===================================================================
 * # BASE SETUP
 *
 *
 * ------------------------------------------------------------------- */
html {
  font-size  : var(--base-size);
  box-sizing : border-box;
}

*,
*::before,
*::after {
  box-sizing : inherit;
}

html,
body {
  height : 100%;
}

body {
  background-color            : var(--color-background);
  -webkit-overflow-scrolling  : touch;
  -webkit-text-size-adjust    : 100%;
  -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
  -webkit-font-smoothing      : antialiased;
  -moz-osx-font-smoothing     : grayscale;
}

p {
  font-size      : inherit;
  text-rendering : optimizeLegibility;
}

a {
  text-decoration : none;
}

svg,
img,
video {
  max-width : 100%;
  height    : auto;
}

pre {
  overflow : auto;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin  : 0;
  padding : 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance : none;
  -moz-appearance    : none;
  appearance         : none;
}

/* ===================================================================
 * # TYPOGRAPHY 
 
 * ## base type styles
 * -------------------------------------------------------------------- */
 body {
  /* font-family : var(--font-1); */
  font-size   : var(--base-font-size);
  font-weight : 400;
  line-height : calc(var(--base-font-size) * 1.5);
  letter-spacing: -0.5px;
  color       : var(--color-gray-13);
}

/* links
*/
a {
  color      : var(--color-white);
  transition : all 0.3s ease-in-out;
}

a:focus,
a:hover,
a:active {
  color : var(--color-1);
}

a:hover,
a:active {
  outline : 0;
}

/* headings
*/
.display-1{
  font-family            : var(--font-1);
  font-weight            : 400;
  color                  : var(--color-white);
  font-variant-ligatures : common-ligatures;
  text-rendering         : optimizeLegibility;
  letter-spacing         : -2px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family            : var(--font-1);
  font-weight            : 400;
  color                  : var(--color-white);
  font-variant-ligatures : common-ligatures;
  text-rendering         : optimizeLegibility;
  letter-spacing         : -1px;
}

h1,h2{
  font-weight            : 200;
}

p{
  font-size   : var(--text--md);
  font-weight            : 400;
}

h1,
.h1 {
  margin-top    : var(--vspace-2_5);
  margin-bottom : var(--vspace-0_75);
  font-size   : var(--text-xxxxl);
  line-height : calc(1.2 * var(--space));
}

h2,
.h2 {
  font-size      : var(--text-xxxl);
  line-height    : calc(1.5 * var(--text-xxxl));
  margin-top    : var(--vspace-2);
  margin-bottom : var(--vspace-0_75);
}

h3,
.h3{
  font-size      : var(--text-xxl);
  line-height    : calc(1.2 * var(--text-xxl));
  margin-top    : var(--vspace-2);
  margin-bottom : var(--vspace-0_75);
}

h4,
.h4 {
  font-size      : var(--text-xl);
  line-height    : calc(1.2 * var(--text-xl));
  margin-top    : var(--vspace-2);
  margin-bottom : var(--vspace-0_75);
}

h5,
.h5{
  font-size      : var(--text-lg);
  line-height    : calc(1.5 * var(--text-lg));
  margin-top    : var(--vspace-1_75);
  margin-bottom : var(--vspace-0_5);
}

h6,
.h6 {
  font-size      : var(--text-md);
  line-height    : calc(1.5 * var(--text-md));
  margin-top    : var(--vspace-1_75);
  margin-bottom : var(--vspace-0_5);
}


@media screen and (max-width: 500px) {

  h1,
  .h1 {
      font-size   : var(--text-xxxxl);
      line-height : calc(1.875 * var(--space));
  }
}

h2,
.h2 {
  font-size      : var(--text-xxxl);
  line-height    : calc(1.5 * var(--text-xxxl));
}

h3,
.h3 {
  font-size   : var(--text-xxl);
  line-height : calc(1.225px * var(--text-xl));
}

h4,
.h4 {
  font-size   : var(--text-xl);
  line-height : 1px*var(--text-lg);
  letter-spacing : -2;
}

h5,
.h5 {
  font-size   : var(--text-lg);
  line-height : var(--vspace-0_875);
}

h6,
.h6 {
  font-weight    : 700;
  font-size      : var(--text-md);
  line-height    : var(--vspace-0_75);
  text-transform : uppercase;
  letter-spacing : .2rem;
}

/* emphasis, italic,
* strong, bold and small text
*/
em,
i,
strong,
b {
  font-size   : inherit;
  line-height : inherit;
}

em,
i {
  font-style : italic;
}

strong,
b {
  font-weight : 700;
}

small {
  font-size   : 80%;
  font-weight : 400;
  line-height : var(--vspace-0_5);
}

/* blockquotes
*/
blockquote {
  margin      : 0 0 var(--vspace-1) 0;
  padding     : var(--vspace-1) var(--vspace-1_5);
  border-left : 2px solid var(--color-text-dark);
  position    : relative;
}

blockquote p {
  font-family : var(--font-1);
  font-weight : 400;
  font-size   : var(--text-lg);
  font-style  : normal;
  line-height : var(--vspace-1_25);
  color       : var(--color-text-dark);
  padding     : 0;
}

blockquote cite {
  display     : block;
  font-family : var(--font-2);
  font-weight : 400;
  font-size   : var(--text-sm);
  line-height : var(--vspace-0_75);
  font-style  : normal;
}

blockquote cite:before {
  content : "\2014 \0020";
}

blockquote cite,
blockquote cite a,
blockquote cite a:visited {
  color  : var(--color-text-light);
  border : none;
}

@media screen and (max-width: 500px) {
  blockquote {
      padding : var(--vspace-0_75) var(--vspace-0_75);
  }

  blockquote p {
      font-size   : var(--text-md);
      line-height : var(--vspace-1);
  }
}

/* figures
*/
figure img,
p img {
  margin         : 0;
  vertical-align : bottom;
}

figure {
  display      : block;
  margin-left  : 0;
  margin-right : 0;
}

figure img+figcaption {
  margin-top : var(--vspace-1);
}

figcaption {
  /* font-style: italic; */
  font-size     : var(--text-sm);
  text-align    : center;
  margin-bottom : 0;
}

/* preformatted, code
*/
var,
kbd,
samp,
code,
pre {
  font-family : var(--font-mono);
}

pre {
  padding    : var(--vspace-0_75) var(--vspace-1) var(--vspace-1);
  background : var(--color-gray-6);
  overflow-x : auto;
}

code {
  font-size     : var(--text-sm);
  line-height   : 1.6rem;
  margin        : 0 .2rem;
  padding       : calc(((var(--vspace-1) - 1.6rem) / 2) - .1rem) calc(.8rem - .1rem);
  white-space   : nowrap;
  background    : var(--color-gray-6);
  border        : 1px solid var(--color-gray-10);
  border-radius : 3px;
}

pre>code {
  display     : block;
  white-space : pre;
  line-height : var(--vspace-1);
  padding     : 0;
  margin      : 0;
  border      : none;
}

/* deleted text, abbreviation,
* & mark text
*/
del {
  text-decoration : line-through;
}

abbr {
  font-family    : var(--font-1);
  font-weight    : 600;
  font-variant   : small-caps;
  text-transform : lowercase;
  letter-spacing : .1em;
}

abbr[title],
dfn[title] {
  border-bottom   : 1px dotted;
  cursor          : help;
  text-decoration : none;
}

mark {
  background : var(--color-2-lightest);
  color      : var(--color-black);
}

/* horizontal rule
*/
hr {
  border       : solid var(--color-border);
  border-width : .1rem 0 0;
  clear        : both;
  margin       : var(--vspace-2) 0 calc(var(--vspace-2) - 1px);
  height       : 0;
}
.text-center{
  text-align: center;
}

li {
  list-style: none;
}



